.card-box{
    margin-bottom: 10vmax;
}
.card-heading{
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: transparent;
    background-image: linear-gradient(60deg, #ff3a7c, #741eff);
    background-clip: text;
}
.card-subheading{
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
}
.card-description{
    text-align: left;
    color:#6B7280;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}
